<form
  *ngIf="peopleForm"
  [formGroup]="peopleForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
  (keydown.enter)="$event.preventDefault()">
  <ng-container formArrayName="personRows">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let person; let i = index">
          <div
            *mcxTableControl="
              person.controls['firstName'];
              let control = control
            "
            class="table-field-container">
            <mat-form-field>
              <input
                matInput
                [formControl]="control"
                required
                placeholder="First Name" />
            </mat-form-field>
            <mcx-table-error-icon [control]="control" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let person">
          <div
            *mcxTableControl="
              person.controls['lastName'];
              let control = control
            "
            class="table-field-container">
            <mat-form-field>
              <input
                matInput
                [formControl]="control"
                required
                placeholder="Last Name" />
            </mat-form-field>
            <mcx-table-error-icon [control]="control" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="streetName">
        <th mat-header-cell *matHeaderCellDef>Street Name</th>
        <td mat-cell *matCellDef="let person">
          <div
            *mcxTableControl="
              person.controls['streetName'];
              let control = control
            "
            class="table-field-container">
            <mat-form-field>
              <input
                matInput
                [formControl]="control"
                required
                placeholder="Street Name" />
            </mat-form-field>
            <mcx-table-error-icon [control]="control" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="houseNumber">
        <th mat-header-cell *matHeaderCellDef>House Number</th>
        <td mat-cell *matCellDef="let person">
          <div
            *mcxTableControl="
              person.controls['houseNumber'];
              let control = control
            "
            class="table-field-container">
            <mat-form-field>
              <input
                matInput
                type="number"
                [formControl]="control"
                required
                placeholder="House Number" />
            </mat-form-field>
            <mcx-table-error-icon [control]="control" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="apartmentNumber">
        <th mat-header-cell *matHeaderCellDef>Apartment Number</th>
        <td mat-cell *matCellDef="let person">
          <div
            *mcxTableControl="
              person.controls['apartmentNumber'];
              let control = control
            "
            class="table-field-container">
            <mat-form-field>
              <input
                matInput
                type="number"
                [formControl]="control"
                placeholder="Apartment Number" />
            </mat-form-field>
            <mcx-table-error-icon [control]="control" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="postalCode">
        <th mat-header-cell *matHeaderCellDef>Postal Code</th>
        <td mat-cell *matCellDef="let person">
          <div
            *mcxTableControl="
              person.controls['postalCode'];
              let control = control
            "
            class="table-field-container">
            <mat-form-field>
              <input
                matInput
                [formControl]="control"
                required
                placeholder="Postal Code" />
            </mat-form-field>
            <mcx-table-error-icon [control]="control" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="town">
        <th mat-header-cell *matHeaderCellDef>Town</th>
        <td mat-cell *matCellDef="let person">
          <div
            *mcxTableControl="person.controls['town']; let control = control"
            class="table-field-container">
            <mat-form-field>
              <input
                matInput
                [formControl]="control"
                required
                placeholder="Town" />
            </mat-form-field>
            <mcx-table-error-icon [control]="control" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let person">
          <div
            *mcxTableControl="
              person.controls['phoneNumber'];
              let control = control
            "
            class="table-field-container">
            <mat-form-field>
              <input
                matInput
                [formControl]="control"
                required
                placeholder="phoneNumber" />
            </mat-form-field>
            <mcx-table-error-icon [control]="control" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="dateOfBirth">
        <th mat-header-cell *matHeaderCellDef>Date Of Birth</th>
        <td mat-cell *matCellDef="let person">
          <div
            *mcxTableControl="
              person.controls['dateOfBirth'];
              let control = control
            "
            class="table-field-container">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="DD/MM/YYYY"
                [formControl]="control"
                required
                [max]="currentDate" />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mcx-table-error-icon [control]="control" />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let person" [formGroup]="person">
          {{
            person.controls.dateOfBirth.getRawValue()
              ? (person.controls.dateOfBirth.getRawValue() | calculateAge)
              : '?'
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td
          mat-cell
          *matCellDef="let person; let i = index"
          [formGroup]="person">
          <button
            mat-icon-button
            matTooltip="Delete"
            color="warn"
            type="button"
            (click)="onDelete(person.controls.id.getRawValue())">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="control">
        <td
          mat-footer-cell
          *matFooterCellDef
          [colSpan]="displayedColumns.length">
          <div class="button-add-container">
            <button mat-mini-fab color="accent" type="button" (click)="onAdd()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr mat-footer-row *matFooterRowDef="['control']"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td [attr.colspan]="displayedColumns.length">
          <div class="no_data_container">No People</div>
        </td>
      </tr>
    </table>
  </ng-container>

  <div class="edit-actions">
    <button
      mat-flat-button
      matTooltip="Save"
      color="primary"
      type="submit"
      [disabled]="peopleForm.pristine">
      Save
    </button>
    <button
      mat-flat-button
      type="button"
      matTooltip="Cancel"
      color="warn"
      (click)="onCancel()"
      [disabled]="peopleForm.pristine">
      Cancel
    </button>
  </div>
</form>
