table {
  width: 100%;
  table-layout: auto;
  overflow: scroll;
}
.table-loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.edit-actions {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}

mat-form-field {
  font-size: 12px;
  width: 100%;
}
