table {
  width: 100%;
  table-layout: fixed;
  overflow: scroll;
}
.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.mat-column-id,
.mat-column-age {
  width: 4rem;
}
.mat-column-actions {
  width: 6rem;
}
td:has(mcx-table-input, mcx-table-datepicker) {
  padding: 0;
}
mcx-table-input,
mcx-table-datepicker {
  max-width: 100%;
}
.edit-actions {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
